*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.hero{
    background-image: url(image/bg1.jpg);
    background-position: center;
    background-size: cover;
width: 100%;
min-height: 100vh;
padding: 10px 10%;
overflow: hidden;
position: relative;}
nav .logo {
    width:60px;
    height: 60px;
    border: 2px;
    border-radius: 100px;
    margin-right: 15x;
   

}
nav p {
  margin-left: 10px;
  margin-right: 40px;
  color:#fff;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items:center;
    justify-content:center;
}
nav a{
    display: inline-block;
    margin: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding-right: 10px;
    background: linear-gradient(45deg,rgba(23, 133, 207, 0.847),rgb(231, 149, 7));
    border-radius:20px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: .5s;
    color:  #fff;
    

}
nav a:hover{
    background:linear-gradient(60deg,#08ea8f,#da3362) ;
}
.about
{
    margin-top: 10%;
    padding: 50px 50px;
    border: 1px solid rgb(13, 236, 236) ;
    width: 40%;
    border-radius: 20px;
    background-color: rgba(117, 222, 222, 0.395) ;
    

}
.about h1{
    color:rgb(219, 116, 20);
}
.about h3{
    color: lightseagreen;

}
